body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 406px;
  margin: 100px auto 0;
  background-color: #ececec;
    border-radius: 6px;
	padding:20px;
	border: 1px solid #adabab;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
  list-style:none;
}
#new-task{
	margin-left: 2px;
}
input, button {
  outline: none;
}
button {
    background: none;
    border: 0px;
    color: white;
    font-size: 15px;
    width: 60px;
    /* margin: 10px 0 0; */
    font-family: Lato, sans-serif;
    cursor: pointer;
    padding: 11px 0;
       background: #e82e47;
	border-radius: 5px;
	margin-left:3px;
	-webkit-box-shadow: 2px 2px 2px #a2a2a2;
    box-shadow: 2px 2px 2px #a2a2a2;
}
button.edit{
background: #139eca;
}

/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
      text-align: center;
}
.add{
	padding:11px 0;
	margin:0;
	background: #55eca8;
	border-radius:5px;
	    margin-left: 1px;
}
.add:hover{
  background: #00de7a;
}
.delete:hover{
background: #d80521;
}
.edit:hover{
background: #0282ab;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
  
}
input#new-task {
  float: left;
  width: 318px;
  -webkit-box-shadow:inset 1px 1px 1px 0px #E8E8E8;
box-shadow:inset 1px 1px 1px 0px #E8E8E8;
}


/* Task list */
li {
position:relative;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
li:before{
content:'';
background:url('../images/tick.png') no-repeat -2px 0;
position:absolute;
width:21px;
height:21px;
top: 32px;
left:0;
}

#completed-tasks li:before{
content:'';
background:url('../images/tick.png') no-repeat -25px 0;
position:absolute;
width:25px;
height:25px;
top: 32px;
left:0;
}
li > input[type="checkbox"] {
  margin: 0 10px 0 0;
  position: relative;
  top: 13px;
  width: 21px;
  height: 21px;
  opacity:0;
}
input[type="checkbox"]:hover li:before{

}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
      background-color: white;
  border-radius:5px;
}
li >  input[type="text"] {
  width: 226px;
}


/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
  color:red;
}

ul li.editMode label {
  display:none;
}